      
/* @settings
updated: 2024-02-20
name: yaozhuwa@css
id: yaozhuwa@css
settings:
    -  
        id: inline-code-bold
        title: 行内代码加粗
        type: class-toggle
        default: true
    -
        id: canvas-card-text-align-center
        title: canvas 文字默认居中
        type: class-toggle
        default: true
    -   
        id: blank-line-tweak
        title: Live Preview 空白行优化V3.0
        description: 参考 https://forum-zh.obsidian.md/t/topic/12515
        type: class-toggle
        default: true
    -   
        id: seamless-embed
        title: 内嵌文档自然显示
        description: 语法：![[嵌入的文档|seamless]]，来自 AnuPpuccin 主题
        type: class-toggle
        default: true
    -
        id: clutter-free-headings
        title: 编辑状态使用H1 H2 替代「#」(显示标题级别)
        title.zh: 编辑状态使用H1 H2 替代「#」(显示标题级别)
        description: 来自 blue-topaz 主题
        type: class-toggle
        default: true
    -
        id: increase-paragraph-gap
        title: 段落间距增大
        description: 来自 yaozhuwa
        type: class-toggle
        default: true
    -
        id: increase-headings-gap
        title: 标题与正文间距增大
        description: 来自 yaozhuwa
        type: class-toggle
        default: true
    -
        id: center-image
        title: 图片居中显示
        description: 来自 blue-topaz 主题 cssclass center-image
        type: class-toggle
        default: false
    -
        id: bigger-math-font
        title: 公式字体增大
        description: 来自 blue-topaz 主题
        type: class-toggle
        default: true
    -
        id: anp-file-icons
        title: 显示文件图标
        description: 来自 Anu 主题
        type: class-toggle
        default: true
    -
        id: wide-table
        title: 全宽表格
        description: cssclass wide-table
        type: class-toggle
        default: true
    - 
        id: code-line-number
        title: Code box showing line numbers (Editing Mode)
        title.zh: 代码显示行号 （编辑模式）
        description: csslass declares code-line-number to be available for the current document, copy from blue-topaz theme
        description.zh:  csslass 声明 code-line-number 可对单篇note生效，来自 blue-topaz 主题
        type: class-toggle
        default: true
*/


/* 公式字体增大 */
.bigger-math-font .math.math-block mjx-container[jax='CHTML'] {
    outline: none;
    font-size: 1.2em;
  }
  
  /* headers */
  /*编辑状态是否显示H1 H2标记*/
  /*适配Live preview模式*/
  .clutter-free-headings div:not(.cm-active).cm-line span:not(.cm-formatting-header):not(.cm-hashtag):not(.cm-inline-code):not(.cm-highlight).cm-header::before {
    font-size: 0.6rem;
    width: auto;
    margin-right: 1px;
    border-radius: var(--radius-xs);
    color: var(--text-muted);
    overflow: visible;
    font-family: var(--font-default);
    font-weight: normal !important;
  }
  
  .clutter-free-headings div.mod-cm6.is-live-preview div:not(.cm-active).cm-line .cm-header ~ span.cm-header::before,
  .clutter-free-headings div.mod-cm6.is-live-preview div:not(.cm-active).cm-line .cm-header.cm-hmd-internal-link::before {
    display: none;
  }
  
  .clutter-free-headings div:not(.cm-active).cm-line span:not(.cm-formatting-header).cm-header-1::before {
    content: 'H1';
    margin-top: calc(var(--h1-size) - 0.1em);
  }
  
  .clutter-free-headings div:not(.cm-active).cm-line span:not(.cm-formatting-header).cm-header-2::before {
    content: 'H2';
    margin-top: calc(var(--h2-size) - 0.2em);
  }
  
  .clutter-free-headings div:not(.cm-active).cm-line span:not(.cm-formatting-header).cm-header-3::before {
    content: 'H3';
    margin-top: calc(var(--h3-size) - 0.2em);
  }
  .clutter-free-headings div:not(.cm-active).cm-line span:not(.cm-formatting-header).cm-header-4::before {
    content: 'H4';
    margin-top: calc(var(--h4-size) - 0.3em);
  }
  
  .clutter-free-headings div:not(.cm-active).cm-line span:not(.cm-formatting-header).cm-header-5::before {
    content: 'H5';
    margin-top: calc(var(--h5-size) - 0.4em);
  }
  
  .clutter-free-headings div:not(.cm-active).cm-line span:not(.cm-formatting-header).cm-header-6::before {
    content: 'H6';
    margin-top: calc(var(--h6-size) - 0.4em);
  }
  
  /*适配source mode 模式*/
  .clutter-free-headings div.mod-cm6:not(.is-live-preview) div:not(.cm-active).cm-line span:not(.cm-formatting-header).cm-header ~ span.cm-header::before
  {
    display: none;
  }
   .clutter-free-headings div.mod-cm6:not(.is-live-preview) div:not(.cm-active).cm-line span.cm-formatting-header {
    display:none;
  }
  /*适配传统模式*/
  .clutter-free-headings div:not(.CodeMirror-activeline)>.CodeMirror-line.hmd-inactive-line span.cm-formatting-header::before {
    position: absolute;
    margin-top: 10px;
    font-size: 0.7rem;
    width: auto;
    margin-left: -18px;
    padding: 0px 2px;
    border-radius: var(--radius-xs);
    color: var(--text-muted);
    overflow: visible;
    font-family: var(--font-default);
    font-weight: normal !important;
  }
  .clutter-free-headings div:not(.CodeMirror-activeline)>.CodeMirror-line:not(.hmd-inactive-line) span.cm-formatting-header::before {
    position: absolute;
    margin-top: 10px;
    font-size: 0.7rem;
    width: auto;
    margin-left: -6px;
    border-radius: var(--radius-xs);
    color: var(--text-muted);
    overflow: visible;
    font-family: var(--font-default);
    font-weight: normal !important;
  }
  
  .clutter-free-headings div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-header {
    color: transparent !important;
    background: none;
  }
  
  .clutter-free-headings div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-header-1::before {
    content: 'H1';
  }
  .clutter-free-headings div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-header-2::before {
    content: 'H2';
  }
  .clutter-free-headings div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-header-3::before {
    content: 'H3';
  }
  .clutter-free-headings div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-header-4::before {
    content: 'H4';
  }
  .clutter-free-headings div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-header-5::before {
    content: 'H5';
  }
  .clutter-free-headings div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-header-6::before {
    content: 'H6';
  }
  
  
  
  .center-image :is(.markdown-preview-view,.markdown-rendered) img:not([class*="emoji"]) {
    margin-left: auto;
    margin-right: auto;
  }
  
  .center-image .print :is(.markdown-preview-view,.markdown-rendered) img:not([class*="emoji"]) {
    display: block;
  }
  
  .center-image .view-content img:not([class*="emoji"]) {
    cursor: zoom-in;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
  /* 内嵌文档自然显示，来自 AnuPpuccin 主题 */
  .seamless-embed .internal-embed[alt*=seamless] .markdown-preview-section{
    width: 100% !important;
  }
  
  .seamless-embed .internal-embed[alt*=seamless].markdown-embed {
    --embed-padding: 0;
    border-width: 0px;
  }
  .seamless-embed .internal-embed[alt*=seamless].markdown-embed > .markdown-embed-title {
    width: fit-content;
    position: absolute;
    left: unset;
    right: 33px;
    top: 5px;
    opacity: 0;
    transition: opacity 0.1s;
  }
  .seamless-embed .internal-embed[alt*=seamless].markdown-embed > .markdown-embed-link {
    opacity: 0;
    transition: opacity 0.1s;
  }
  .seamless-embed .internal-embed[alt*=seamless].markdown-embed:hover > .markdown-embed-title, .internal-embed[alt*=seamless].markdown-embed:hover > .markdown-embed-link {
    opacity: 1;
    transition: opacity 0.1s;
  }
  
  /* =========== 预览模式空白行优化 https://forum-zh.obsidian.md/t/topic/12515 =========== */
  .blank-line-tweak .is-live-preview [class="hr cm-line"] {
      line-height: 0.5em;
  }
  
  .blank-line-tweak .is-live-preview [class="cm-active cm-line"] {
      transition: 0.5s line-height;
  }
  
  /*
   * 特定空白行压缩
   * 1. 水平线前的空白行
   * 2. 引用、Callout 和列表后的空白行
   * 3. 表格前的空白行

  
  /* 全宽表格 */
  .wide-table :is(.markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper, .markdown-rendered table) {
    /*  --table-white-space: break-all;*/
      width: 100% !important;
    }
    .wide-table :is(.markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper, .markdown-rendered table) .table-editor {
      width: 100% !important;
    }
  
    
  /* ============== 标题间距优化 ============= */ 
  .increase-headings-gap div.HyperMD-header.cm-line{
      padding-top: 0.1em !important;                             /*operations4304，原本为0.5em*/
      padding-bottom: 0.1em !important;                         /*operations4304，原本为0.2em*/
      margin-bottom: 0.1em !important;                         /*operations4304，原本为0.3em*/
  }
  
  /* canvas card 文字居中 */
  .canvas-card-text-align-center .canvas-node-container .canvas-node-content.markdown-embed:not(.is-loaded) {
    text-align: center;
  }
  
  /*bold code text except code language*/
  .inline-code-bold :not(pre)>code:not([class*='language-']) {
    font-weight: bold;
    font-size: 0.9em !important;
    padding: 2px 3px 1px;
  }
  
  .inline-code-bold .cm-s-obsidian span.cm-inline-code {
    padding: 2px 0 1px;
  /*  color: var(--text-color-code);*/
    font-weight: bold;
    font-size: 0.9em !important;
  }
  
  
  /* ================================ 下面是默认功能 =================================== */
  /* enhance title select 更容易选中文件名*/
  .workspace-leaf.mod-active .view-header-title:after {
    content: " ";
    width: 100%;
    height: 1em;
    position: absolute;
  }
  
  /* dataview inline key 和 value 的美化，来自 Obsidian Nord 主题 */
  .theme-dark{
      --dataview-key: rgb(216,222,233);
      --dataview-key-background: rgba(129,161,193, 0.3);
      --dataview-value-background: rgba(191,97,106, 0.3);
  }
  .theme-light{
      --dataview-key: rgb(46,52,64);
      --dataview-key-background: rgba(129,161,193, 0.3);
      --dataview-value-background: rgba(191,97,106, 0.3);
  }
  
  .dataview.inline-field-key {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      padding-left: 4px;
      font-family: var(--font-monospace);
      font-size: var(--font-smaller);
      color: var(--dataview-key) !important;
      background-color: var(--dataview-key-background) !important;
  }
  
  .dataview.inline-field-value {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      padding-right: 4px;
      font-family: var(--font-monospace);
      font-size: var(--font-smaller);
      color: var(--dataview-key) !important;
      background-color: var(--dataview-value-background) !important;
  }
  
  /* 使相邻的代码块不粘连 */
  .blank-line-tweak .is-live-preview .HyperMD-codeblock-end + .HyperMD-codeblock-begin{
      margin-top: 0.4em !important;
  }
  
  /* 使代码块与后面的图片不粘连 */
  .blank-line-tweak .is-live-preview .HyperMD-codeblock-end + .image-embed{
      margin-top: 0.4em !important;
  }
  
  /* fix banners in new window */
  :root
  {
      --banner-height: 300px;
      --banner-internal-embed-height: 200px;
      --banner-preview-embed-height: 120px;
  }

/* 代码行号显示 */
.code-line-number .HyperMD-codeblock-begin {
  counter-reset: line-numbers;
}

.code-line-number .HyperMD-codeblock.cm-line:not(.HyperMD-codeblock-begin):not(.HyperMD-codeblock-end) {
  padding-left: 3em;
  position: relative;
}
  
.code-line-number .HyperMD-codeblock.cm-line:not(.HyperMD-codeblock-begin):not(.HyperMD-codeblock-end)::after {
  align-items: flex-start;
  color: var(--text-faint);
  content: counter(line-numbers);
  counter-increment: line-numbers;
  display: flex;
  font-size: 0.8em;
  height: 100%;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  text-align: right;
  width: 2em;
  padding-right: 0.5em;
  bottom: -2px;
  border-right: 1px solid var(--scrollbar-thumb-bg);
}

.code-line-number .HyperMD-codeblock.cm-line.cm-active:not(.HyperMD-codeblock-begin):not(.HyperMD-codeblock-end)::after {
  color: var(--color-accent);
}

.code-line-number .HyperMD-codeblock .cm-foldPlaceholder::before {
  display: none;
}

.center-image :is(.markdown-preview-view,.markdown-rendered) img:not([class*="emoji"]) {
  margin-left: auto;
  margin-right: auto;
}

.center-image .print :is(.markdown-preview-view,.markdown-rendered) img:not([class*="emoji"]) {
  display: block;
}

.center-image .view-content img:not([class*="emoji"]) {
  cursor: zoom-in;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}



  
      